.hidden {
    display: none;
}

div {
    text-align: center;
    padding: 200px;
    margin: 10px 0;
    width: 1000px;
    background-color: rgb(23, 122, 168);
    border: 1px solid rgb(158, 59, 142);
}
